{"cppMessages":"\/Users\/dr.brandonwiley\/Ultraviolet\/Arduino\/Ultraviolet","cppUniverse":"\/Users\/dr.brandonwiley\/Ultraviolet\/Arduino\/Ultraviolet","batch":false,"source":"\/Users\/dr.brandonwiley\/Documents\/Arduino\/libraries\/Audio_-_Adafruit_Fork\/filter_fir.h","cppServer":"\/Users\/dr.brandonwiley\/Ultraviolet\/Arduino\/Ultraviolet","cppModule":"\/Users\/dr.brandonwiley\/Ultraviolet\/Arduino\/Ultraviolet"}